@font-face {
    font-family: 'GothaProReg';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GothaProReg.eot');
    src: url('../fonts/GothaProReg.eot?#iefix') format('embedded-opentype'), url('../fonts/GothaProReg.woff2') format('woff2'), url('../fonts/GothaProReg.woff') format('woff'), url('../fonts/GothaProReg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothaProBla';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GothaProBla.eot');
    src: url('../fonts/GothaProBla.eot') format('embedded-opentype'), url('../fonts/GothaProBla.woff2') format('woff2'), url('../fonts/GothaProBla.woff') format('woff'), url('../fonts/GothaProBla.ttf') format('truetype'), url('../fonts/GothaProBla.svg#GothaProBla') format('svg');
}

@font-face {
    font-family: 'GothaProBlaIta';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GothaProBlaIta.eot');
    src: url('../fonts/GothaProBlaIta.eot') format('embedded-opentype'), url('../fonts/GothaProBlaIta.woff2') format('woff2'), url('../fonts/GothaProBlaIta.woff') format('woff'), url('../fonts/GothaProBlaIta.ttf') format('truetype'), url('../fonts/GothaProBlaIta.svg#GothaProBlaIta') format('svg');
}

@font-face {
    font-family: 'GothaProBol';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GothaProBol.eot');
    src: url('../fonts/GothaProBol.eot?#iefix') format('embedded-opentype'), url('../fonts/GothaProBol.woff2') format('woff2'), url('../fonts/GothaProBol.woff') format('woff'), url('../fonts/GothaProBol.ttf') format('truetype'), url('../fonts/GothaProBol.svg#GothaProBol') format('svg');
}

@font-face {
    font-family: 'GothaProBolIta';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GothaProBolIta.eot');
    src: url('../fonts/GothaProBolIta.eot') format('embedded-opentype'), url('../fonts/GothaProBolIta.woff2') format('woff2'), url('../fonts/GothaProBolIta.woff') format('woff'), url('../fonts/GothaProBolIta.ttf') format('truetype'), url('../fonts/GothaProBolIta.svg#GothaProBolIta') format('svg');
}

@font-face {
    font-family: 'GothaProIta';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GothaProIta.eot');
    src: url('../fonts/GothaProIta.eot') format('embedded-opentype'), url('../fonts/GothaProIta.woff2') format('woff2'), url('../fonts/GothaProIta.woff') format('woff'), url('../fonts/GothaProIta.ttf') format('truetype'), url('../fonts/GothaProIta.svg#GothaProIta') format('svg');
}

@font-face {
    font-family: 'GothaProLig';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GothaProLig.eot');
    src: url('../fonts/GothaProLig.eot') format('embedded-opentype'), url('../fonts/GothaProLig.woff2') format('woff2'), url('../fonts/GothaProLig.woff') format('woff'), url('../fonts/GothaProLig.ttf') format('truetype'), url('../fonts/GothaProLig.svg#GothaProLig') format('svg');
}

@font-face {
    font-family: 'GothaProLigIta';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GothaProLigIta.eot');
    src: url('../fonts/GothaProLigIta.eot') format('embedded-opentype'), url('../fonts/GothaProLigIta.woff2') format('woff2'), url('../fonts/GothaProLigIta.woff') format('woff'), url('../fonts/GothaProLigIta.ttf') format('truetype'), url('../fonts/GothaProLigIta.svg#GothaProLigIta') format('svg');
}

@font-face {
    font-family: 'GothaProMed';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GothaProMed.eot');
    src: url('../fonts/GothaProMed.eot') format('embedded-opentype'), url('../fonts/GothaProMed.woff2') format('woff2'), url('../fonts/GothaProMed.woff') format('woff'), url('../fonts/GothaProMed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothaProMedIta';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GothaProMedIta.eot');
    src: url('../fonts/GothaProMedIta.eot') format('embedded-opentype'), url('../fonts/GothaProMedIta.woff2') format('woff2'), url('../fonts/GothaProMedIta.woff') format('woff'), url('../fonts/GothaProMedIta.ttf') format('truetype'), url('../fonts/GothaProMedIta.svg#GothaProMedIta')fformat('svg');
}

@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot');
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdintextcomppro-regular-webfont.woff2') format('woff2'), url('../fonts/pfdintextcomppro-regular-webfont.woff') format('woff'), url('../fonts/pfdintextcomppro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('../fonts/pt_sans_narrowregular-webfont.eot');
    src: url('../fonts/pt_sans_narrowregular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt_sans_narrowregular-webfont.woff2') format('woff2'), url('../fonts/pt_sans_narrowregular-webfont.woff') format('woff'), url('../fonts/pt_sans_narrowregular-webfont.ttf') format('truetype'), url('../fonts/pt_sans_narrowregular-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_promedium';
    src: url('../fonts/pfdintextcomppro-medium-webfont.eot');
    src: url('../fonts/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdintextcomppro-medium-webfont.woff2') format('woff2'), url('../fonts/pfdintextcomppro-medium-webfont.woff') format('woff'), url('../fonts/pfdintextcomppro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/openSans/OpenSans-Bold.eot');
    src: url('../fonts/openSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/openSans/OpenSans-Bold.woff') format('woff'), url('../fonts/openSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url('../fonts/openSans/OpenSans-BoldItalic.eot');
    src: url('../fonts/openSans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/openSans/OpenSans-BoldItalic.woff') format('woff'), url('../fonts/openSans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Extrabold';
    src: url('../fonts/openSans/OpenSans-Extrabold.eot');
    src: url('../fonts/openSans/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/openSans/OpenSans-Extrabold.woff') format('woff'), url('../fonts/openSans/OpenSans-Extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-ExtraboldItalic';
    src: url('../fonts/openSans/OpenSans-ExtraboldItalic.eot');
    src: url('../fonts/openSans/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/openSans/OpenSans-ExtraboldItalic.woff') format('woff'), url('../fonts/openSans/OpenSans-ExtraboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/openSans/OpenSans-Italic.eot');
    src: url('../fonts/openSans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/openSans/OpenSans-Italic.woff') format('woff'), url('../fonts/openSans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/openSans/OpenSans-Light.eot');
    src: url('../fonts/openSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/openSans/OpenSans-Light.woff') format('woff'), url('../fonts/openSans/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/openSans/OpenSans-Semibold.eot');
    src: url('../fonts/openSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/openSans/OpenSans-Semibold.woff') format('woff'), url('../fonts/openSans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../fonts/openSans/OpenSans-SemiboldItalic.eot');
    src: url('../fonts/openSans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/openSans/OpenSans-SemiboldItalic.woff') format('woff'), url('../fonts/openSans/OpenSans-SemiboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/openSans/OpenSans.eot');
    src: url('../fonts/openSans/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/openSans/OpenSans.woff') format('woff'), url('../fonts/openSans/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight-Italic';
    src: url('../fonts/openSans/OpenSansLight-Italic.eot');
    src: url('../fonts/openSans/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/openSans/OpenSansLight-Italic.woff') format('woff'), url('../fonts/openSans/OpenSansLight-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}