<template>
  <section class="log">
    <div class="log__wrapper">
      <div class="log__area">
        <p
          class="log__elem"
          :class="`log__elem--${elem.type}`"
          v-for="(elem, elemId) in logList"
          :key="elemId"
        >
          <span v-html="elem.message" />
        </p>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
  import { computed } from "vue";

  import { useLogStore } from "@/stores/log";

  const logStore = useLogStore();

  const logList = computed(() => logStore.logList);
</script>

<style scoped lang="scss">
  .log {
    position: relative;
    display: flex;
    width: 100%;
    background-color: rgba(12, 12, 12, 0.2);
    border-radius: 0.3rem;
    cursor: default;

    &__wrapper {
      position: absolute;
      top: 3%;
      left: 3%;
      height: 94%;
      width: 94%;
      overflow: hidden;
    }

    &__area {
      position: relative;
      height: 100%;
      width: 104%;
      font-size: 0.6rem;
      font-weight: 500;
      line-height: 0.8rem;
      padding-right: 0.3rem;
      overflow-y: auto;
    }

    &__elem {
      position: relative;
      display: flex;
      padding: 0.2rem 0.3rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      span {
        position: relative;
        margin-left: 1rem;
      }

      &:last-child {
        border-bottom: none;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0.3rem;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      &--success {
        color: #15db93;

        &:before {
          height: 0.6rem;
          width: 0.6rem;
          background-image: url("@/assets/img/icon_success-message.png");
        }
      }

      &--standart {
        color: #eee;
      }

      &--warning {
        color: #fdc830;
      }

      &--error {
        color: #ff5347;

        &:before {
          height: 0.6rem;
          width: 0.6rem;
          background-image: url("@/assets/img/icon_error-message.png");
        }
      }
    }
  }

  @media screen and (min-width: 1280px) {
    .log {
      &__area {
        font-size: 0.8rem;
      }

      &__elem {
        padding: 0.4rem 0.5rem;

        span {
          margin-left: 1.5rem;
        }

        &:before {
          top: 0.4rem;
        }

        &--success:before,
        &--error:before {
          height: 0.8rem;
          width: 0.8rem;
        }
      }
    }
  }
</style>
