<template>
  <div
    class="progress-line"
    :class="{ 'progress-line--completed': completed }"
  />
</template>

<script setup lang="ts">
  defineProps<{
    completed: boolean;
  }>();
</script>

<style scoped lang="scss">
  .progress-line {
    height: 2px;
    background-color: #636363;
    margin: 0 1rem;
    flex: 1;

    &--completed {
      background-color: #15db93;
    }
  }
</style>
