<template>
  <section
    class="progress"
    :class="{ 'progress--active': isActive }"
  >
    <div
      class="progress__elem elem elem--config"
      :class="configIcon"
    >
      <div class="elem__icon"></div>
      <div class="elem__name">Проверка файла<br />конфигурации</div>
    </div>

    <ProgressLine :completed="configStatus === Status.Completed" />

    <div
      class="progress__elem elem elem--files"
      :class="filesIcon"
    >
      <div class="elem__icon"></div>
      <div class="elem__name">Проверка<br />файлов</div>
    </div>

    <ProgressLine :completed="filesStatus === Status.Completed" />

    <div
      class="progress__elem elem elem--build"
      :class="buildIcon"
    >
      <div class="elem__icon"></div>
      <div class="elem__name">Сборка<br />курса</div>
    </div>
  </section>
</template>

<script setup lang="ts">
  import { computed } from "vue";

  import { useAppStore } from "@/stores/app";
  
  import { Status } from "@/constants/global";
  
  import ProgressLine from "./components/ProgressLine.vue"
  
  const appStore = useAppStore();

  const getIconClass = (targetStatus: Status) => ({
    "elem--default": targetStatus === Status.NotStarted,
    "elem--inprogress": targetStatus === Status.InProgress,
    "elem--failed": targetStatus === Status.Failed,
    "elem--completed": targetStatus === Status.Completed,
  });

  const statusData = computed(() => appStore.statusData);

  const totalStatus = computed(() => statusData.value.total);
  const configStatus = computed(() => statusData.value.config);
  const filesStatus = computed(() => statusData.value.files);
  const buildStatus = computed(() => statusData.value.build);

  const isActive = computed(() => !(totalStatus.value === Status.NotStarted || totalStatus.value === Status.Preparing));

  const configIcon = computed(() => getIconClass(configStatus.value));
  const filesIcon = computed(() => getIconClass(filesStatus.value));
  const buildIcon = computed(() => getIconClass(buildStatus.value));
</script>

<style lang="scss" scoped>
  .progress {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transition: all 0.3s;
    opacity: 0.3;
    cursor: default;

    &--active {
      opacity: 1;
      transition: all 0.3s;
    }
  }

  .elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    font-size: 0.6rem;
    line-height: 1.3;
    text-align: center;

    &__icon {
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      margin-bottom: 0.4rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 0.3s;
    }

    &--default {
      .elem__icon {
        opacity: 0.4;
        background-image: url("@/assets/img/stat_default.png");
      }
    }

    &--inprogress {
      .elem__icon {
        background-image: url("@/assets/img/stat_inprogress.svg");
      }
    }

    &--failed {
      .elem__icon {
        background-image: url("@/assets/img/stat_failed.png");
      }
    }

    &--completed {
      .elem__icon {
        background-image: url("@/assets/img/stat_completed.png");
      }
    }
  }

  @media screen and (min-width: 1280px) {
    .elem {
      width: 7rem;
      font-size: 0.8rem;
    }
  }
</style>
