.button-default {
  text-align: center;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #15db93;
  -webkit-app-region: no-drag;
  transition: all 0.3s;

  &:hover {
    background-color: #11ad8e;
    transition: all 0.3s;
  }
  &.disabled {
    background-color: #9ca9b8;
    pointer-events: none;
    opacity: 0.3;
    transition: all 0.3s;
  }
}

.button {
  position: relative;
  height: 2rem;
  font-family: GothamPro;
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}
.button:disabled,
.button[disabled] {
  background-color: #9ca9b8 !important;
}

.close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 1rem;
  width: 1rem;
  background: url('@/assets/img/btn-close_normal.png') no-repeat center;
  opacity: 0.2;
  transition: all 0.3s;
  -webkit-app-region: no-drag;
  cursor: pointer;
  z-index: 100;

  &:hover {
    opacity: 1;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 1280px) {
  .button-default {
    font-size: 1.3rem;
    margin-top: 2rem;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fastfade-enter-active,
.fastfade-leave-active {
  transition: opacity 0.15s;
}
.fastfade-enter,
.fastfade-leave-to {
  opacity: 0;
}