<template>
  <div class="header">
    <div class="header__actives">
      <span class="header__company">SYNERGY</span>
      <span
        class="header__app"
        :class="{ 'header__app--dev-mode': devMode }"
      >
        SF Release Generator
      </span>
    </div>
  </div>
</template>

<script setup lang="ts">
  defineProps<{
    devMode: boolean;
  }>();
</script>

<style scoped lang="scss">
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.7rem 2rem;
    background-color: rgba(255, 255, 255, 0.03);
    -webkit-app-region: drag;

    &__actives {
      display: flex;
      flex-direction: column;
      -webkit-app-region: no-drag;
    }

    &__company {
      font-size: 0.7rem;
      line-height: 1;
      cursor: default;
    }

    &__app {
      font-size: 1.8rem;
      font-weight: 500;
      margin-top: 0.3rem;
      transition: background 0.3s;
      cursor: pointer;

      &:hover:not(.header__app--dev-mode) {
        background: linear-gradient(to right, #40e0d0 0%, #ff8c00 33%, #ff0080 66%, #40e0d0 100%);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 1.5s linear infinite;
        transition: background 0.3s;
      }

      &--dev-mode {
        background: linear-gradient(to left, #f9d423 0%, #e65c00 50%, #f9d423 100%);
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 1.5s linear infinite;
        transition: background 0.3s;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    .header {
      padding: 2rem;

      &__company {
        font-size: 0.8rem;
      }

      &__app {
        font-size: 2.5rem;
      }
    }
  }

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
</style>
