<template>
  <transition name="fastfade">
    <div
      v-if="devMode"
      class="secret"
    >
      <textarea
        type="text"
        class="secret__scormlink"
        v-model="scormLink"
        ref="scormLinkRef"
        readonly
      />

      <div
        class="secret__copylink button-default"
        :class="{ disabled: !scormLink }"
        @click="copyToClipboard"
      >
        Скопировать
        <div
          class="secret__alert"
          :class="{ 'secret__alert--visible': isAlert }"
        >
          Скопировано
        </div>
      </div>
    </div>
  </transition>
</template>

<script setup lang="ts">
  import { ref, computed } from "vue";

  import { useAppStore } from "@/stores/app";

  const appStore = useAppStore();

  defineProps<{
    devMode: boolean;
  }>();

  const scormLinkRef = ref<HTMLTextAreaElement | null>(null);
  const isAlert = ref(false);

  const scormLink = computed(() => appStore.scormLink);

  const copyToClipboard = async () => {
    scormLinkRef.value?.select();
    await navigator.clipboard.writeText("");
    scormLinkRef.value?.setSelectionRange(0, 0);
    isAlert.value = true;

    setTimeout(() => {
      isAlert.value = false;
    }, 1000);
  };
</script>

<style scoped lang="scss">
  .secret {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 3rem;

    &__scormlink {
      font-size: 0.7rem;
      word-wrap: break-word;
      word-break: break-all;
      width: 100%;
      height: 2.3rem;
      background-color: transparent;
      color: #fff;
      border: none;
      pointer-events: none;
      user-select: none;
      cursor: default;
      resize: none;

      &:focus {
        background-color: transparent;
        outline: none;
      }
    }

    &__copylink {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }

    &__alert {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 7rem;
      background-color: #fff;
      border-radius: 0.2rem;
      color: #444;
      font-size: 0.8rem;
      padding: 0.3rem;
      margin: 0 auto;
      pointer-events: none;
      user-select: none;
      animation: go-up 1s;
      transition: all 0.3s;

      &--visible {
        display: block;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    .secret {
      &__scormlink {
        font-size: 1rem;
      }
    }
  }

  @keyframes go-up {
    0% {
      top: 0;
      opacity: 1;
    }
    100% {
      top: -1rem;
      opacity: 0;
    }
  }
</style>
