<template>
  <MainpageLayout />

  <div
    class="close-btn"
    @click="closeApp"
  />
</template>

<script setup lang="ts">
  import { onMounted, ref } from "vue";

  import MainpageLayout from "./components/MainpageLayout/MainpageLayout.vue";
  import { manager } from "@/entities/manager";
  import { testFs } from "./entities/testFs";

  // @ts-ignore
  window.hh = testFs;

  manager.init();

  const closeApp = () => {
    manager.closeApp();
  };

  onMounted(() => {
    manager.setEvents();
  });
</script>
