<!-- <template>
  <section class="mainpage">
    <div class="mainpage__header header">
      <div class="header__actives">
        <p class="header__company">SYNERGY</p>
        <p
          class="header__app"
          :class="{ 'header__app--dev-mode': devMode }"
        >
          SF Release Generator
        </p>
      </div>
    </div>
    <div class="mainpage__content content">
      <transition name="fastfade">
        <div
          class="content__cover"
          v-if="inProgress"
        ></div>
      </transition>
      <section class="content__inputs-wrapper">
        <div class="content__box box">
          <p class="box__text">Укажите папку с конфигурацией курса</p>
          <p class="box__text box__text--gray">(Папка обязательно должна содержать файл config.json)</p>
          <div
            class="box__selector selector"
            @click="getFiles"
          >
            <div class="selector__input">Выбрать&nbsp;папку</div>
            <span class="selector__text">{{ folderName }}</span>
          </div>
        </div>

        <div
          class="content__button button-default"
          :class="{ disabled: !isFileChoosed }"
          @click="startWork"
        >
          Собрать SCORM
        </div>
        <transition name="fastfade">
          <div
            v-if="devMode"
            class="content__secret secret"
          >
            <textarea
              type="text"
              class="secret__scormlink"
              v-model="scormLink"
              ref="scormLink"
              readonly
            ></textarea>
            <div
              class="secret__copylink button-default"
              :class="{ disabled: !scormLink }"
              @click="copyToClipboard"
            >
              Скопировать
              <div
                class="secret__alert"
                :class="{ 'secret__alert--visible': isAlert }"
              >
                Скопировано
              </div>
            </div>
          </div>
        </transition>
      </section>
      <section class="content__info info">
        <LogCompo
          class="info__log"
          :logList="logList"
        />
        <ProgressCompo
          class="info__progress"
          :statusData="statusData"
        />
      </section>
    </div>
  </section>
</template>

<script setup lang="ts">
  import { ref, computed } from "vue";
  import fs from "fs";
  import fse from "fs-extra";
  import archiver from "archiver";
  import converter from "xml-js";

  import { BuildType, Status } from "../../constants/global";
  import { StatusData } from '../../interfaces/global';
  import * as utils from "../../js/utils";

  import LogArea from "../LogArea/LogArea.vue";
  import ProgressArea from "../ProgressArea/ProgressArea.vue";

  const { dialog } = require("electron").remote;
  const VideoLib = require("node-video-lib");

  const props = defineProps<{
    devMode: boolean;
  }>();

  const isAlert = ref(false);
  
  export default {
    name: "MainpageCompo",
    components: {
      LogCompo,
      ProgressCompo,
    },
    props: {
      devMode: {
        type: Boolean,
        default() {
          return false;
        },
      },
    },
    data() {
      return {
        decodedConfig: null, // Распарсенный конфиг в виде объекта
        fileNames: [],
        fileList: {},
        isAlert: false,
        iconsAmount: 0,
        statusData: {
          totalStatus: "notStarted",
          configStatus: "notStarted",
          filesStatus: "notStarted",
          buildStatus: "notStarted",
        },
      };
    },
    mounted() {
      window.hh = this;
    },
    computed: {
      isMicro() {
        if (this.decodedConfig) {
          return this.decodedConfig.buildType === "micro";
        } else {
          return null;
        }
      },
      isFileChoosed() {
        return this.statusData.totalStatus === statusConst.PREPARING;
      },
      inProgress() {
        return this.statusData.totalStatus === statusConst.IN_PROGRESS;
      },
    },
    methods: {
      getFiles() {
        dialog.showOpenDialog(
          {
            title: "Select a folder",
            properties: ["openDirectory"],
          },
          (folderPaths) => {
            this.clearData();
            if (folderPaths === undefined) {
              return false;
            } else {
              this.fileNames = [];
              this.fileList = {};
              this.folderPath = folderPaths[0];
              this.folderName = this.folderPath.split("\\").pop() || "";
              this.statusData.totalStatus = statusConst.PREPARING;

              let folderContent = fs.readdirSync(folderPaths[0], "utf8");
              folderContent.forEach((file) => {
                this.fileNames.push(file);
              });
            }
          }
        );
      },

      // Находим конфиг, запускаем процесс парсинга и валидации
      startWork() {
        this.clearData();
        this.statusData.totalStatus = statusConst.IN_PROGRESS;
        let configFile = this.fileNames.find((elem) => elem === "config.json");
        this.fileList.config = configFile;
        let configPath = `${this.folderPath}\\${configFile}`;

        this.getData(configPath)
          .then((response) => {
            this.decodedConfig = response;
            if (this.isMicro) {
              this.addLog("BUILD_NAME", "МИКРОРЕЛИЗ");
            } else {
              this.addLog("BUILD_NAME", "ТЕКСТОВЫЙ РЕЛИЗ");
            }
            return true;
          })
          .then((response) => {
            return this.countSlideIcons();
          })
          .then((response) => {
            this.validateConfig();
          });
      },

      // Взятие конфига из папки
      getData(configPath) {
        let that = this;
        return new Promise((resolve, reject) => {
          fs.readFile(configPath, "utf8", (err, data) => {
            if (err) {
              that.addLog("CONFIG_NOT_FOUND");
              that.statusData.totalStatus = statusConst.FAILED;
              return false;
            } else {
              try {
                resolve(JSON.parse(data));
              } catch (e) {
                that.addLog("FATAL_ERROR");
                that.statusData.totalStatus = statusConst.FAILED;
              }
            }
          });
        });
      },

      countSlideIcons() {
        let that = this;
        return new Promise((resolve, reject) => {
          fs.readdir("./sandbox/boilerplate/img/slide-icon", (err, files) => {
            if (err) {
              reject(err);
            } else {
              that.iconsAmount = files.length;
              resolve(true);
            }
          });
        });
      },

      validateConfig() {
        this.statusData.configStatus = statusConst.IN_PROGRESS;
        let dc = this.decodedConfig;
        let incorrectKeysLogName;
        let reservedKeys = ["buildType", "courseName", "chapterName", "season", "question", "downloads", "manifest"];
        let reservedSeasons = ["winter", "spring", "summer", "autumn"];

        try {
          if (!dc.buildType) {
            this.addLog("EMPTY_BUILD_TYPE");
          }
          if (!dc.chapterName) {
            this.addLog("EMPTY_CHAPTER_NAME");
          }
          if (!dc.courseName) {
            this.addLog("EMPTY_COURSE_NAME");
          }

          if (!dc.season) {
            this.addLog("EMPTY_SEASON");
          } else if (!reservedSeasons.includes(dc.season.toLowerCase())) {
            this.addLog("INCORRECT_SEASON");
          }

          // Проверка текстового слайда. Только для Текстового релиза
          if (!this.isMicro) {
            if (!Array.isArray(dc.textSlide)) {
              this.addLog("ARRAY_TEXTSLIDE");
            }
            dc.textSlide.forEach((elem, elemId) => {
              // Текст
              if (elem.hasOwnProperty("content")) {
                if (!utils.isInnerTextCorrect(elem.content)) {
                  this.addLog("INCORRECT_TEXT", elemId + 1);
                }
              }

              // Иконка
              if (elem.hasOwnProperty("icon")) {
                if (elem.hasOwnProperty("important")) {
                  this.addLog("ICON_AND_IMPORTANT_CONFLICT", elemId + 1);
                }
                if (typeof elem.icon !== "string") {
                  this.addLog("NOT_VALID_ICON", elemId + 1);
                }
                if (!utils.isIconExist(fs, elem.icon)) {
                  this.addLog("ICON_NOT_FOUND", elemId + 1, elem.icon);
                }
                if (!elem.hasOwnProperty("align")) {
                  this.addLog("ICON_WITHOUT_ALIGN", elemId + 1);
                }
              }

              // Выравнивание
              if (elem.hasOwnProperty("align")) {
                if (!elem.align) {
                  this.addLog("EMPTY_ALIGN", ++elemId);
                } else if (elem.align !== "left" && elem.align !== "center") {
                  this.addLog("NOT_VALID_ALIGN", elemId + 1);
                }
                if (!elem.hasOwnProperty("icon")) {
                  this.addLog("ALIGN_WITHOUT_ICON", elemId + 1);
                }
              }

              // Блок Важно
              if (elem.hasOwnProperty("important") && !elem.important) {
                this.addLog("NOT_VALID_IMPORTANT", elemId + 1);
              }

              // Скрины
              if (elem.hasOwnProperty("screen")) {
                if (typeof elem.screen !== "string") {
                  this.addLog("NOT_VALID_SCREEN", elemId + 1);
                }
                if (!utils.isFileExist(fs, this.folderPath, elem.screen)) {
                  console.log(elem.screen);
                  this.addLog("SCREEN_NOT_FOUND", elemId + 1, elem.screen);
                }
              }
            });
          }

          if (!dc.question.text) {
            this.addLog("EMPTY_QUESTION_TEXT");
          }
          if (!Array.isArray(dc.question.answers)) {
            this.addLog("ARRAY_ANSWERS");
          }
          if (!dc.question.answers.some((answer) => answer.right)) {
            this.addLog("NO_RIGHT_ANSWER");
          }
          dc.question.answers.forEach((answer, answerId) => {
            if (!answer.text) {
              this.addLog("EMPTY_ANSWER_TEXT", answerId + 1);
            }
          });

          if (!Array.isArray(dc.downloads)) {
            this.addLog("ARRAY_DOWNLOADS");
          }
          dc.downloads.forEach((download, downloadId) => {
            if (!download.url) {
              this.addLog("EMPTY_DOWNLOADS_URL", downloadId + 1);
            } else if (!download.title) {
              this.addLog("EMPTY_DOWNLOADS_TITLE", downloadId + 1);
            }
            if (!utils.checkFileName(download.url)) {
              this.addLog("NOT_VALID_DOWNLOAD_CONFIG", downloadId + 1);
            }
          });

          if (!dc.manifest.manifestId) {
            this.addLog("EMPTY_MANIFEST_ID");
          }
          if (!dc.manifest.SCOtitle) {
            this.addLog("EMPTY_SCO_TITLE");
          }
          if (dc.manifest.SCOtitle.length > 89) {
            this.addLog("OVERFLOW_COURSE_NAME", dc.manifest.SCOtitle.length);
          }
          if (!dc.manifest.letter) {
            this.addLog("EMPTY_LETTER");
          }

          if (dc.options.hasOwnProperty("anketa") && dc.options.anketa !== true) {
            this.addLog("OPTIONS_INCORRECT_ANKETA");
          }

          if (this.isMicro) {
            dc.video = {};
            incorrectKeysLogName = "M_INCORRECT_KEYS";
          } else {
            reservedKeys.push("textSlide");
            incorrectKeysLogName = "T_INCORRECT_KEYS";
          }
          for (let reserved of reservedKeys) {
            if (!dc.hasOwnProperty(reserved)) {
              this.addLog(incorrectKeysLogName);
              break;
            }
          }

          if (this.errorsAmount) {
            throw new Error();
          } else {
            this.statusData.configStatus = statusConst.COMPLETED;
            this.validateFiles();
          }
        } catch (e) {
          this.statusData.totalStatus = statusConst.FAILED;
          this.statusData.configStatus = statusConst.FAILED;
        }
      },

      validateFiles() {
        this.statusData.filesStatus = statusConst.IN_PROGRESS;
        let fileTypes = ["pdf", "xls", "xlsx", "doc", "docx", "ppt", "pptx", "txt"];

        try {
          // Проверка видеофайла. Только для микрорелиза
          if (this.isMicro) {
            let videofileNames = this.fileNames.filter((elem) => elem.includes("mp4"));
            this.fileList.video = videofileNames[0];

            if (videofileNames.length > 1) {
              this.addLog("TOO_MANY_VIDEO");
            } else if (videofileNames.length === 0) {
              this.addLog("VIDEO_NOT_FOUND");
            } else if (videofileNames.length === 1) {
              let videofile = videofileNames[0];

              if (!videofile.includes(".mp4")) {
                this.addLog("NOT_MP4");
              }
              if (videofile.split(".").length > 2) {
                this.addLog("NOT_VALID_VIDEO_FILE");
              } else {
                if (!utils.checkFileName(videofile)) {
                  this.addLog("NOT_VALID_VIDEO_FILE");
                }
                if (utils.checkOverflow(videofile)) {
                  this.addLog("OVERFLOW_FILE_NAME", videofile);
                }
              }
            }
          }
          if (!this.isMicro) {
            let screenNames = this.fileNames.filter(
              (elem) => elem.includes(".jpg") || elem.includes(".png") || elem.includes(".jpeg")
            );
            this.fileList.screens = screenNames;
          }

          // Проверка материалов на скачивание
          let downloads = this.fileNames.filter((file) => {
            return fileTypes.some((type) => {
              return file.includes(type);
            });
          });
          this.fileList.downloads = downloads;

          if (downloads.length !== this.decodedConfig.downloads.length) {
            this.addLog("DOWNLOADS_CONFLICT");
          }
          downloads.forEach((elem) => {
            if (!utils.checkFileName(elem)) {
              this.addLog("NOT_VALID_DOWNLOAD_FILE", elem);
            }
            if (utils.checkOverflow(elem)) {
              this.addLog("OVERFLOW_FILE_NAME", elem);
            }
          });
          this.decodedConfig.downloads.forEach((elem) => {
            if (!this.fileNames.includes(elem.url)) {
              this.addLog("DOWNLOAD_NOT_FOUND", elem.url);
            }
          });

          if (this.errorsAmount) {
            throw new Error();
          } else {
            this.statusData.filesStatus = statusConst.COMPLETED;
            this.buildScorm();
          }
        } catch (e) {
          this.statusData.totalStatus = statusConst.FAILED;
          this.statusData.filesStatus = statusConst.FAILED;
        }
      },

      // Асинхронно копируем бойлерплейт, подмешиваем туда файлы, модифицируем манифест
      // архивируем в .zip и очищаем временную папку
      buildScorm() {
        this.statusData.buildStatus = statusConst.IN_PROGRESS;

        try {
          this.copyBoilerplate()
            .then((response) => {
              return this.replaceConfig();
            })
            .then((response) => {
              return this.replaceFiles();
            })
            .then((response) => {
              return this.getManifest();
            })
            .then((response) => {
              return this.createScorm();
            })
            .then((response) => {
              return this.clearTemp();
            })
            .then((response) => {
              this.setScormLink();
              this.statusData.buildStatus = statusConst.COMPLETED;
              this.finishWork();
            });
        } catch (e) {
          this.statusData.buildStatus = statusConst.FAILED;
        }
      },

      copyBoilerplate() {
        return new Promise((resolve, reject) => {
          fse
            .copy("./sandbox/boilerplate", "./sandbox/temp")
            .then(() => resolve(true))
            .catch((err) => console.error(err));
        });
      },

      getManifest() {
        return new Promise((resolve, reject) => {
          let options = { ignoreComment: true, spaces: 2 };
          let xml = fs.readFileSync("./sandbox/temp/imsmanifest.xml", "utf8");
          let resJson = converter.xml2json(xml, options);
          let prsJson = JSON.parse(resJson);
          this.overwriteManifest(prsJson);

          var resultXml = converter.json2xml(JSON.stringify(prsJson), options);
          fs.writeFile("./sandbox/temp/imsmanifest.xml", resultXml, (err) => {
            if (err) {
              return console.warn(err);
            }
            console.warn("The file was saved!");
            resolve(true);
          });
        });
      },

      overwriteManifest(prsJson) {
        let dc = this.decodedConfig;
        let dateId = utils.createDateId(dc.manifest.letter);
        let devInfo = utils.createDevInfo(utils.createDateWithDivider("."));
        let tagObj;

        // base == <manifest>
        let base = prsJson.elements[0];
        base.attributes.identifier = dc.manifest.manifestId;
        base.elements[1].attributes.default = dc.manifest.courseId;

        // organization == <organization>
        let organization = base.elements[1].elements[0];
        organization.attributes.identifier = dc.manifest.courseId;
        organization.elements[0].elements[0].text = `${dc.manifest.SCOtitle} (${dateId})`;
        organization.elements[1].attributes.identifierref = dateId;
        organization.elements[1].elements[0].elements[0].text = `${dc.manifest.SCOtitle} (${dateId})`;

        organization.elements[2].elements[0].elements[0].elements[0].elements[0].elements[0].text = devInfo;

        // resources == <resources>
        let resources = base.elements[2].elements[0];
        resources.attributes.identifier = dateId;
        resources.elements[0].elements[0].elements[0].elements[0].elements[0].elements[0].text = `${dc.manifest.SCOtitle} (${dateId})`;

        if (this.isMicro) {
          tagObj = {
            name: "file",
            type: "element",
            attributes: {
              href: `video/${this.fileList.video}`,
            },
          };
          resources.elements.push(tagObj);
        }

        dc.downloads.forEach((elem) => {
          tagObj = {
            name: "file",
            type: "element",
            attributes: {
              href: `downloads/${elem.url}`,
            },
          };
          resources.elements.push(tagObj);
        });

        tagObj = {
          name: "file",
          type: "element",
          attributes: {
            href: `config.json`,
          },
        };
        resources.elements.push(tagObj);
      },

      replaceConfig() {
        let that = this;
        return new Promise((resolve, reject) => {
          let promiseArr = [];
          let decoder;
          let videoPath = `${this.folderPath}\\${this.fileList.video}`.replace(/\\/g, "/");

          function openVideo() {
            return new Promise((resolve, reject) => {
              fs.open(videoPath, "r", (err, fd) => {
                if (err) {
                  throw err;
                } else {
                  decoder = fd;
                  resolve(true);
                }
              });
            });
          }

          function getDuration() {
            return new Promise((resolve, reject) => {
              let movie = VideoLib.MovieParser.parse(decoder);
              let duration = utils.toHHMMSS(Math.floor(movie.relativeDuration()));
              that.decodedConfig.video.duration = duration;
              that.decodedConfig.video.src = that.fileList.video;
              fs.closeSync(decoder);
              resolve(true);
            });
          }

          if (that.isMicro) {
            openVideo()
              .then((response) => {
                return getDuration();
              })
              .then((response) => {
                resolve(true);
              });
          } else {
            resolve(true);
          }
        });
      },

      replaceFiles() {
        return new Promise((resolve, reject) => {
          let promiseArr = [];
          let modConfig;

          this.fileList.downloads.forEach((download) => {
            promiseArr.push(
              new Promise((resolve, reject) => {
                let downloadPath = `${this.folderPath}\\${download}`.replace(/\\/g, "/");
                fse.copy(downloadPath, `./sandbox/temp/downloads/${download}`).then(() => resolve(true));
              })
            );
          });

          if (this.isMicro) {
            promiseArr.push(
              new Promise((resolve, reject) => {
                let videoPath = `${this.folderPath}\\${this.fileList.video}`.replace(/\\/g, "/");
                fse.copy(videoPath, `./sandbox/temp/video/${this.fileList.video}`).then(() => resolve(true));
              })
            );
          }

          if (!this.isMicro) {
            this.fileList.screens.forEach((screen) => {
              promiseArr.push(
                new Promise((resolve, reject) => {
                  let screenPath = `${this.folderPath}\\${screen}`.replace(/\\/g, "/");
                  fse.copy(screenPath, `./sandbox/temp/img/slide-screens/${screen}`).then(() => resolve(true));
                })
              );
            });
          }

          promiseArr.push(
            new Promise((resolve, reject) => {
              modConfig = JSON.stringify(this.decodedConfig, "", 4);
              resolve(true);
            })
          );

          promiseArr.push(
            new Promise((resolve, reject) => {
              fs.writeFile("./sandbox/temp/config.json", modConfig, (err) => {
                if (err) {
                  return console.log(err);
                }
                resolve(true);
              });
            })
          );

          Promise.all(promiseArr).then(() => {
            resolve(true);
          });
        });
      },

      createScorm() {
        return new Promise((resolve, reject) => {
          let manifest = this.decodedConfig.manifest;
          let zipName = utils.createZipName(manifest);
          let targetDirectory = `./scorm/${zipName}`;

          fse.ensureDir("./scorm/", (err) => console.warn(err));

          let output = fs.createWriteStream(targetDirectory);
          let archive = archiver("zip", { zlib: { level: 9 } });
          archive.pipe(output);
          archive.directory("./sandbox/temp/", false);

          output.on("close", () => resolve(true));
          archive.on("warning", (err) => {
            if (err.code !== "ENOENT") throw err;
          });

          archive.finalize();
        });
      },

      clearTemp() {
        return new Promise((resolve, reject) => {
          fse
            .emptyDir("./sandbox/temp")
            .then(() => resolve(true))
            .catch((err) => console.error(err));
        });
      },

      setScormLink() {
        let siteUrl = "https://synergycorp.ru/u/";
        let targetFolder = this.isMicro ? "sb_microrelease_HTML" : "sb_textrelease_HTML";

        this.scormLink = `${siteUrl}${targetFolder}/${utils.createDateWithDivider("_", true)}/${utils.createZipName(
          this.decodedConfig.manifest
        )}`;
      },

      copyToClipboard() {
        this.$refs.scormLink.select();
        document.execCommand("copy");
        this.$refs.scormLink.setSelectionRange(0, 0);
        this.isAlert = true;
        setTimeout(() => {
          this.isAlert = false;
        }, 1000);
      },

      finishWork() {
        if (this.errorsAmount) {
          this.statusData.totalStatus = statusConst.FAILED;
          this.addLog("BUILD_FAILED");
        } else {
          this.addLog("BUILD_COMPLETED");
          this.statusData.totalStatus = statusConst.COMPLETED;
        }
      },

      // Очищение логов, ссылки на папку и скорм, статусов и счетчика ошибок
      clearData() {
        this.logList = [];
        this.errorsAmount = 0;
        this.folderName = this.scormLink = "";
        for (let key in this.statusData) {
          this.statusData[key] = statusConst.NOT_STARTED;
        }
      },
    },
  };
</script>

<style lang="scss" scoped>
  .mainpage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(36, 59, 85, 0.97), rgba(20, 30, 48, 0.97));
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.03);
    width: 100%;
    -webkit-app-region: drag;

    &__actives {
      -webkit-app-region: no-drag;
    }
    &__company {
      font-size: 0.7rem;
      line-height: 1;
      cursor: default;
    }
    &__app {
      font-size: 1.8rem;
      font-weight: 500;
      transition: background 0.3s;
      cursor: pointer;

      &:hover:not(.header__app--dev-mode) {
        background: linear-gradient(to right, #40e0d0 0%, #ff8c00 33%, #ff0080 66%, #40e0d0 100%);
        background-size: 200% auto;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 1.5s linear infinite;
        transition: background 0.3s;
      }
      &--dev-mode {
        background: linear-gradient(to left, #f9d423 0%, #e65c00 50%, #f9d423 100%);
        background-size: 200% auto;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 1.5s linear infinite;
        transition: background 0.3s;
      }
    }
  }

  .content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2rem;

    &__cover {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
    }
    &__inputs-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 40%;
      height: 100%;
      margin-right: 2rem;
    }
    &__info {
      width: 60%;
      height: 100%;
    }
    &__button {
      margin-top: 1.6rem;
    }
  }

  .secret {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 3rem;

    &__scormlink {
      font-size: 0.7rem;
      word-wrap: break-word;
      word-break: break-all;
      width: 100%;
      height: 2.3rem;
      background-color: transparent;
      color: #fff;
      border: none;
      pointer-events: none;
      user-select: none;
      cursor: default;
      resize: none;

      &:focus {
        background-color: transparent;
        outline: none;
      }
    }
    &__copylink {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
    &__alert {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 7rem;
      background-color: #fff;
      border-radius: 0.2rem;
      color: #444;
      font-size: 0.8rem;
      padding: 0.3rem;
      margin: 0 auto;
      pointer-events: none;
      user-select: none;
      animation: goup 1s;
      transition: all 0.3s;

      &--visible {
        display: block;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__log {
      flex: 1;
    }
    &__progress {
      margin-top: 1rem;
      flex-shrink: 0;
    }
  }

  .box {
    width: 100%;

    &__text {
      font-size: 0.7rem;
      margin-bottom: 0.2rem;
      cursor: default;

      &--gray {
        color: #999;
        font-style: italic;
      }
    }
    &__input {
      width: 0.1rem;
      height: 0.1rem;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      -webkit-app-region: no-drag;
    }
    &__selector {
      -webkit-app-region: no-drag;
    }
  }

  .selector {
    display: flex;
    width: 100%;
    font-size: 0.7rem;
    font-weight: 700;
    color: white;
    margin-top: 0.8rem;
    cursor: pointer;

    &:hover {
      .selector__text {
        border-color: #f12711;
      }
      .selector__input {
        background-color: #f12711;
      }
    }
    &__input {
      display: flex;
      align-items: center;
      padding: 0.4rem 0.7rem;
      background-color: #ff512f;
      cursor: pointer;
    }
    &__text {
      display: flex;
      align-items: center;
      flex: 1;
      padding: 0 0.7rem;
      border: 2px solid #ff512f;
      background-color: #fff;
      color: #333;
      overflow: hidden;
    }
  }

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  @keyframes goup {
    0% {
      top: 0;
      opacity: 1;
    }
    100% {
      top: -1rem;
      opacity: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    .header {
      padding: 2rem;

      &__company {
        font-size: 0.8rem;
      }
      &__app {
        font-size: 2.5rem;
      }
    }
    .secret {
      &__scormlink {
        font-size: 1rem;
      }
    }
    .box {
      &__text {
        font-size: 0.8rem;
        margin-bottom: 0.4rem;
      }
    }
    .selector {
      font-size: 0.9rem;
      margin-top: 0.8rem;

      &__input {
        padding: 0.5rem 0.8rem;
      }
      &__text {
        padding: 0 0.8rem;
      }
    }
    .button-default {
      font-size: 1.3rem;
      margin-top: 2rem;
    }
  }
</style> -->
