<template>
  <section class="mainpage">
    <MainpageHeader :devMode="devMode" />

    <div class="mainpage__content content">
      <!-- <transition name="fastfade">
        <div
          class="content__cover"
          v-if="isInProgress"
        ></div>
      </transition> -->

      <section class="content__inputs-wrapper">
        <div class="content__box box">
          <p class="box__text">Укажите папку с конфигурацией курса</p>
          <p class="box__text box__text--gray">(Папка обязательно должна содержать файл config.json)</p>

          <div
            class="box__selector selector"
            @click="getFiles"
          >
            <div class="selector__input">Выбрать&nbsp;папку</div>
            <!-- <input type="file" webkitdirectory directory> -->
            <span class="selector__text">{{ folderName }}</span>
          </div>
        </div>

        <div
          class="content__button button-default"
          :class="{ disabled: !isFileChoosed }"
          @click="startWork"
        >
          Собрать SCORM
        </div>

        <MainpageSecret :devMode="devMode" />
      </section>

      <section class="content__info info">
        <LogArea class="info__log" />
        <ProgressArea class="info__progress" />
      </section>
    </div>
  </section>
</template>

<script setup lang="ts">
  import { computed } from "vue";
  import { ipcRenderer } from "electron";

  import { useAppStore } from "@/stores/app";

  import { manager } from "@/entities/manager";

  import LogArea from "@/components/LogArea/LogArea.vue";
  import ProgressArea from "@/components/ProgressArea/ProgressArea.vue";
  import MainpageHeader from "./components/MainpageHeader.vue";
  import MainpageSecret from "./components/MainpageSecret.vue";

  const { fsManager } = manager.getClasses();

  const appStore = useAppStore();

  const devMode = computed(() => appStore.devMode);
  const isFileChoosed = computed(() => appStore.isFileChoosed);
  const folderName = computed(() => appStore.folderName);
  const isInProgress = computed(() => appStore.isInProgress);

  ipcRenderer.on("selectDirectoryHandled", async (event, data) => {
    await fsManager.getFiles(data.filePaths);
  })

  const getFiles = async () => {
    ipcRenderer.send("selectDirectory");
  };

  const startWork = async () => {
    manager.startWork();
  };
</script>

<style lang="scss" scoped>
  .mainpage {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(36, 59, 85, 0.97), rgba(20, 30, 48, 0.97));
    overflow: hidden;
  }

  .content {
    display: flex;
    height: 100%;
    gap: 2rem;
    padding: 2rem;

    &__cover {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
    }

    &__inputs-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 40%;
      height: 100%;
    }

    &__info {
      flex-grow: 1;
      height: 100%;
    }

    &__button {
      margin-top: 1.6rem;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__log {
      flex: 1;
    }

    &__progress {
      margin-top: 1rem;
      flex-shrink: 0;
    }
  }

  .box {
    width: 100%;

    &__text {
      font-size: 0.7rem;
      margin-bottom: 0.2rem;
      cursor: default;

      &--gray {
        color: #999;
        font-style: italic;
      }
    }

    &__input {
      width: 0.1rem;
      height: 0.1rem;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      -webkit-app-region: no-drag;
    }

    &__selector {
      -webkit-app-region: no-drag;
    }
  }

  .selector {
    display: flex;
    width: 100%;
    font-size: 0.7rem;
    font-weight: 700;
    color: white;
    margin-top: 0.8rem;
    cursor: pointer;

    &:hover {
      .selector__text {
        border-color: #f12711;
      }

      .selector__input {
        background-color: #f12711;
      }
    }

    &__input {
      display: flex;
      align-items: center;
      padding: 0.4rem 0.7rem;
      background-color: #ff512f;
      cursor: pointer;
    }

    &__text {
      display: flex;
      align-items: center;
      flex: 1;
      padding: 0 0.7rem;
      border: 2px solid #ff512f;
      background-color: #fff;
      color: #333;
      overflow: hidden;
    }
  }

  @media screen and (min-width: 1280px) {
    .box {
      &__text {
        font-size: 0.8rem;
        margin-bottom: 0.4rem;
      }
    }

    .selector {
      font-size: 0.9rem;
      margin-top: 0.8rem;

      &__input {
        padding: 0.5rem 0.8rem;
      }

      &__text {
        padding: 0 0.8rem;
      }
    }
  }
</style>
